<div class="container-fluid">
  <h1>Editing Article</h1>
  <%= render 'form', article: @article %>
  <%= link_to 'Show', @article, class: "btn btn-info" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-secondary" %>
</div>
