<div class="container-fluid">
  <h1>Editing Category</h1>
  <%= render 'form', category: @category %>
  <%= link_to 'Show', @category, class: "btn btn-success" %>
  <%= link_to 'Back', categories_path, class: "btn btn-secondary" %>
</div>
